# **Problem-1: Inventory Price Calculator**

**Real-world use:** Used in e-commerce dashboards for price summaries.

**Task:**
Write a function calculate_inventory_summary (prices) that:

 receives a list of product prices

 returns total_cost and average_cost

**Example:**

**Input**: [120, 250, 399, 150]

**Output**: (919, 229.75)

In [ ]:
#def calculate_inventory_summary (total_cost, avg_cost):
def calculate_inventory_summary (prices):
  prices = [120, 132, 230, 321]
  total_numbers = len(prices)
  total_cost = sum(prices)
  avg_cost = total_cost / total_numbers
  return (total_cost , avg_cost)

print("Total Cost: ", total_cost, "; " "Average Cost: ", avg_cost,)

Total Cost:  803 ; Average Cost:  200.75

In [ ]:
# Call Function
prices = [100, 200, 300, 200, 200]
calculate_inventory_summary (prices)

(803, 200.75)

# **Problem-2: Unique Visitor Tracker**

**Real-world use:** Website analytics tools calculating daily active users.

**Task:**
Write a function count_unique_visitors(visitor_list) that:

 takes a list of visitor IDs

 returns the number of unique visitors

**Example:**

**Input:**  [101, 205, 101, 310, 205, 550]

**Output:**  4 (The unique IDs are 101, 205, 310, 550)

In [ ]:
def count_unique_visitors(visitor_list):
  visitor_list = [101, 205, 101, 310, 205, 550]
  unique_ids = set(visitor_list)
  number_of_unique_ids = len(unique_ids)

  #return('Number of unique ids:', number_of_unique_ids, "Unique ids are:", unique_ids)

  return(number_of_unique_ids, unique_ids)

print("Number of unique ids:", number_of_unique_ids)
print("Unique ids are:" , unique_ids)

Number of unique ids: 4
Unique ids are: {205, 550, 101, 310}

In [ ]:
# Call Function
visitor_list = [101, 205, 101, 310, 205, 550, 205]
count_unique_visitors(visitor_list)

(4, {101, 205, 310, 550})

# **Problem-3: Product Category Counter**

**Real-world use:** Inventory/category-based analytics

**Task:**
 Write a function count_categories(products) that:

 takes a list of product names

 returns a dictionary counting each product type.

**Example:**

**Input:** ["Laptop", "Smartphone", "Monitor", "Laptop", "Smartphone", "Headphones", "Laptop"]

**Output:** {"Laptop": 3, "Smartphone": 2, "Monitor": 1, "Headphones": 1}

In [ ]:
def count_categories(products):
  products = ["Laptop" , "Smartphone", "Monitor", "Laptop", "Smartphone","Headphones", "Laptop", "Smartphone", "Monitor", "Laptop"]
  products_count = {}
  for items in products:
    if items in products_count:
      products_count[items] += 1
    else:
      products_count[items] = 1
  return(products_count)

count_categories(products)
#print(products_count)

{'Laptop': 4, 'Smartphone': 3, 'Monitor': 2, 'Headphones': 1}

In [38]:
# # ভ্যারিএবল পরিবর্তন করলে ও ফাংশন কল করলে কাউন্টিং চেঞ্জ হচ্ছে না কেন?
# product_list = ["Smartphone", "Monitor", "Laptop", "Smartphone"]
# count_categories(product_list)

# **Prombel-4: Temperature Analytics**

**Real-world use: Health tech temperature screening systems.**

**Task:**
 Write a function analyze_temperatures(temp_list) that:

 separates high (> 38°C) and normal temps

 returns two lists: (high_list, normal_list)

**Example:**

**Input:** [36.5, 38.0, 39.1, 37.2, 40.5, 38.0, 37.9]

**Output:**

High List (>38°C): [39.1, 40.5]

Normal List (<38°C): [36.5, 38.0, 37.2, 38.0, 37.9]

Full Output Tuple: ([39.1, 40.5], [36.5, 38.0, 37.2, 38.0, 37.9])

In [ ]:
def analyze_temperatures(temp_list):
  temp_list = [36.5, 38.0, 39.1, 37.2, 40.5, 38.0, 37.9]
  high_temp_list = []
  normal_temp_list = []

  for tem in temp_list:
    if tem > 38:
      high_temp_list.append(tem)
    else:
      normal_temp_list.append(tem)
  return (high_temp_list, normal_temp_list)

print(high_temp_list) # why high_temp_list show {} blank item
print(normal_temp_list)

analyze_temperatures(temp_list)

{}
{}

([39.1, 40.5], [36.5, 38.0, 37.2, 38.0, 37.9])

# *Problem - 5: Menu Price Lookup:*

**Real-world use: Restaurant ordering apps.**

**Task:**
 Write a function get_price(menu, item) that:

 receives a dictionary menu and an item name

 returns the price if exists

 otherwise returns "Item not found"

**Example 1: Item Found**
 Input (Menu): {"Coffee": 3.50, "Tea": 2.75, "Muffin": 4.00, "Sandwich": 8.50}

 Input (Item): "Muffin"

 Output: 4.00

**Example 2: Item Not Found**
 Input (Menu): {"Coffee": 3.50, "Tea": 2.75, "Muffin": 4.00, "Sandwich": 8.50}

 Input (Item): "Donut"

 Output: "Item not found"

In [35]:
menu = {"Coffee": 3.50, "Tea": 2.75, "Muffin": 4.00, "Sandwich": 8.50}
item = ()
def get_price(menu, item):
  if item in menu:
     return menu[item]
  else:
     return "item not found"

get_price(menu, "Donate")

# price = get_price(menu, "Tea")
# print(price)

'item not found'

In [36]:
get_price(menu, "Coffee")

3.5

# Problem-6: Student Grading System
**# Real-world use: School result automation.**

**Task:**
Write a function calculate_grade(score) that:

 returns "A+", "A", "A-", "F" based on numeric marks

 Write another function grade_students(student_dict) to:

 take a dictionary of student: score

 return student: grade dictionary

**Example:**
Input (Scores Dictionary): {"Alice": 85, "Bob": 78, "Charlie": 32, "David": 69}

Output (Grades Dictionary): {"Alice": "A+", "Bob": "A", "Charlie": "F", "David": "A-"}

In [56]:
# score = []
# def  calculate_grade(score):
#   if score >= 80:
#     return "A+"
#   elif score >= 70:
#     return "A"
#   elif score >= 60:
#     return "A-"
#   else:
#     return "F"

# calculate_grade(85)

student_dict = {"Alice": 85, "Bob": 78, "Charlie": 32, "David": 69}
def grade_students(student_dict):
  for key, value in student_dict.items():
    if student_dict.values() >= 80:
      return {key}, {value=="A+"}
    else:
      return {key}, {value=="F"}

print(student_dict)
grade_students(student_dict)

{'Alice': 85, 'Bob': 78, 'Charlie': 32, 'David': 69}

TypeError: '>=' not supported between instances of 'dict_values' and 'int'